<div class="container">
	<h2>Espace propriétaire</h2>

	<h3>Demandes en attente</h3>
 	<div class="row">
		<% @instruments.each do |instrument| %>
			<% instrument.reservations.each do |reservation| %>
				<% if reservation.status == "Pending" %>
					<div class="col-sm-12 col-md-6">
						<div class=cards-owner-reservations>
							<div class="card-reservation">
								<%= cl_image_tag reservation.instrument.photo.key %>
								<div class="card-reservation-infos">
									<h6><%= reservation.instrument.name %></h6>
									<h6><%= reservation.total_price %>€</h6>
									<p>Du: <%= reservation.start_date %></p>
									<p>Au: <%= reservation.end_date %></p>
									<div class="btn-reservations">
										<%= link_to "Refuser", decline_owner_reservation_path(reservation), method: :patch, class: "btn btn-decline" %>
										<%= link_to "Accepter", accept_owner_reservation_path(reservation), method: :patch, class: "btn btn-accept" %>
									</div>
								</div>
							</div>
						</div>
					</div>
				<% end %> 
			<% end %>
		<% end %>
	</div>

	<h3>Demandes acceptées</h3>
 	<div class="row">
		<% @instruments.each do |instrument| %>
			<% instrument.reservations.each do |reservation| %>
				<% if reservation.status == "Accepted" %>
					<div class="col-sm-12 col-md-6">
						<div class=cards-owner-reservations>
							<div class="card-reservation">
								<%= cl_image_tag reservation.instrument.photo.key %>
								<div class="card-reservation-infos">
									<h3><%= reservation.instrument.name %></h3>
									<h5><%= reservation.total_price %>€</h5>
									<p>Du: <%= reservation.start_date %></p>
									<p>Au: <%= reservation.end_date %></p>
								</div>
							</div>
						</div>
					</div>
				<% end %> 
			<% end %>
		<% end %>
	</div>

	<h3>Demandes refusées</h3>
 	<div class="row">
		<% @instruments.each do |instrument| %>
			<% instrument.reservations.each do |reservation| %>
				<% if reservation.status == "Declined" %>
					<div class="col-sm-12 col-md-6">
						<div class=cards-owner-reservations>
							<div class="card-reservation">
								<%= cl_image_tag reservation.instrument.photo.key %>
								<div class="card-reservation-infos">
									<h3><%= reservation.instrument.name %></h3>
									<h5><%= reservation.total_price %>€</h5>
									<p>Du: <%= reservation.start_date %></p>
									<p>Au: <%= reservation.end_date %></p>
								</div>
							</div>
						</div>
					</div>
				<% end %> 
			<% end %>
		<% end %>
	</div>
				
</div>
	  