<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
  <!-- # <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %> -->
    <%= image_tag "logo_tuneit_black.png" %>

    <% end %>
  <div class="d-flex mr-auto">
    <%= form_tag instruments_path, method: :get, class: "mx-auto d-flex mb-0 align-items-center" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control h-100 bg-secondary border-dark",
        placeholder: "Trouver un instrument"
      %>
    <% end %>
    <button class="button m-0 border-0 rounded-left">
      <i class="fas fa-search"></i>
    </button>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <%# <li class="nav-item">
          <%= link_to "Messages", "#", class: "nav-link" %>
        <%# </li> %>
        <li class="nav-item dropdown">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag 'avatar_blank.png', class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
        
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <h6>Espace propriétaire</h6>
            <%= link_to "Mes réservations", owner_reservations_path, class: "dropdown-item" %>
            <%= link_to "Mes instruments", owner_instruments_path, class: "dropdown-item" %>

            <h6>Espace Locataire</h6>
            <%= link_to "Mes demandes", reservations_path, class: "dropdown-item" %>
            <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Connexion", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
