<div class="container">
  <h2>Consulter la liste de vos réservations</h2>

  <div class="row">
    <% @reservations.each do |reservation| %>
    <div class="col-sm-12 col-md-4">
      <%= link_to instrument_path(reservation), class: "link-card" do  %>
        <div class="card">
          <h5 class="reservation-status"><%= reservation.status %></h5>
          <%= cl_image_tag reservation.instrument.photo.key %>
          <h3><%= reservation.instrument.name %></h3>
          <h5><%= reservation.instrument.owner.username %></h5>
        </div>
      <% end %>
    </div>
  <% end %>