<div class="container">
	<h2>Mes instruments</h2>

	<%= link_to new_owner_instrument_path  do %>
		<div class="button mb-3">Ajouter un instrument</div>
	<% end %>

  <div class="card-columns">
		<% @instruments.each do |instrument| %>
      <div class="card">
				<%= cl_image_tag instrument.photo.key, class: "card-img-top" %>
				<div class="card-body">
					<h3 class="card-title"><%= instrument.name %></h3>
					<h3 class="card-text"><%= instrument.price_per_day %>€</h3>
					<p class="card-text"><%= instrument.description %></p>
					<div class="text-center">
						<%= link_to "Modifier", edit_owner_instrument_path(instrument), class:"button mb-3 modifier" %>
						<%= link_to "Supprimer",
						owner_instrument_path(instrument), class: "supprimer",
						method: :delete %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>


