<div class="container">
	<h2>Ajouter un nouvel isntrument</h2>

	<%= simple_form_for([:owner, @instrument]) do |f| %>
		<%= f.input :name %>
		<%= f.input :price_per_day %>
		<%= f.input :description %>
		<%= f.select :family, Instrument::FAMILY %>
  		<%= f.input :photo, as: :file %>
  		<%= f.submit %>
	<% end %>
</div>