<div class="container container-instruments-index">
  <h2>Instruments disponibles</h2>

  <div class="card-columns">
    <% @instruments.each do |instrument| %>
      <%= link_to instrument_path(instrument) do %>
        <div class="card">
          <%= cl_image_tag instrument.photo.key, class: "card-img-top"%>
          <div class="card-body">
            <h3  class="card-title"><%= instrument.name.titleize %></h3>
            <p class="card-text"><%= instrument.owner.address %> | <%= instrument.price_per_day %>€/jour</p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


