<h2><%= @instrument.name %></h2>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <%= cl_image_tag @instrument.photo.key, width: 400, height: 300, crop: :fill, class: 'img-show' %>
    </div>
    <div class="col-sm-12 col-md-5">
      <div class="container-reservation">
        <div class="table-reservation">
          <div>
            Total price
          </div>
          <div>
            <%= @instrument.price_per_day %>€
          </div>
        </div>

        <%= simple_form_for [@instrument, @reservation] do |f| %>
          <%= f.input :start_date, as: :date %>
          <%= f.input :end_date, as: :date %>
          <%= f.submit 'Réserver',class: 'button' %>
        <% end %>

        <!-- <a href="#" class="button">Réserver</a> -->
      </div>
    </div>
  </div>
</div>
