<!DOCTYPE html>
<html>
  <head>
    <title>Tune It</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="small-screens">
      <h3 style="text-transform: none">At the moment our website is desktop only as we are currently working on the mobile version. Thank you for your understanding!</h3>
    </div>

    <div class="flex-wrapper">
      <div>
        <%= render 'shared/navbar' %>
        <%= render 'shared/flashes' %>
        <%= yield %>
      </div>

      <footer>
        <hr>
        <p>
          © 2021 Made at Le Wagon
        </p>
      </footer>
    </div>
  </body>
</html>
